@keyframes itemAppear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes s2 {
    0% {
        transform: rotate(1turn)}
    }
    
@keyframes loader {
    100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
} 

body {
    margin: 0;
    font-family: "roboto", sans-serif;
    scroll-behavior: smooth;
}


.section-Loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loader {
    width:100px;
    height:100px;
    border-radius:50%;
    left: 0;
    top: 0;
    border:16px solid;
    border-color:#99E2D0;
    border-right-color: #9356DC;
    animation:s2 1s infinite linear;

}

.header {
    padding: 0;
    background-color: white;
    text-align: center;
}

    .logo {
        padding: 14px;
    }

    .localisation {
        background-color: #eaeaea;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 17px;
    }
        
    
    .textlocalisation {
        font-size: 16px;
        font-weight: 500;
    }


.about {
    padding: 39.5px 58px 57px 42px;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .about-title {
        margin: 0;
        font-size: 24px;
    }

    .about-subtitle {
        font-weight: 300;
    }

    .about-button {
        border-radius: 100px;
        font-weight: 500;
        color : white;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transition: 0.2s ease-in-out;
        padding: 13px 18.75px 13px 18.75px;
        text-decoration: none;
        margin-top: 27px;
        border: none;
        cursor: pointer;
    }
        
        .about-button:hover {
            opacity: 0.7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            transform: scale(1.02);
        }
    
.function {
    padding: 30px 20px;

}
    .function-container {
        padding: 0px;
    }

    .function-steps {
        list-style: none;
        padding: 0 20px 0 32px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .function-step {
        position: relative;
        padding: 0;
        height: 72px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .function-steps :active {
        background-color: #9356DC;;
    }

    .function-title {
        font-weight: 700;
        font-size: 24px;
    }

    .function-text {
        font-weight: 500;
    }

    .function-list {
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -15px;
    }

    .fa-solid {
        color: #7e7e7E;
    }

    /* Restaurants */

.restaurants {
    background-color: #f6f6f6;
    padding: 45px 16px 66px 14px;
}

    .container {
        max-width: 1440px;
    }

    .restaurants-title {
        margin-top : 0;
    }

    .cards {
        display: flex;
        width: 100%;
        gap: 15px;
        flex-direction: column;
    }
    
    
    .article {
        border-radius: 15px;
        position: relative;
    }

    .card {
        text-decoration: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .card-image {
        width: 100%;
        height: 230px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .card-bottom {
        color: black;
        padding: 13px;
        position: relative;
        display: flex;
    }
    

    .card-title {
        margin: 0;
        font-size: 18px;
    }

    .card-subtitle {
        font-weight: 300;
        font-size: 17px;
    }
    
    .card-badge {
        position: absolute;
        color: #008766;
        border-radius: 2px;
        padding: 7px 9px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        background-color: #99e2d0;
        font-size: 14px;
        font-weight: 500;
        right: 25px;
        top: 20px;
    }

    .card-content {
        flex: 1;
    }

    .card-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 21px;
        border: none;
        background: none;
    }

    

    .card-btn:hover .fa-regular {
        opacity: 0;
    }

    .card-btn:hover .fa-solid {
        opacity: 1;
    }

    i.fa-solid.fa-heart {
        position: absolute;
        opacity: 0;
        transition: 1.5s;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        -webkit-background-clip: text;
        background-clip: text;
        
        
    }

    i.fa-solid.fa-heart:hover {
        opacity: 1;
        transition: 0.5s;

    }
    
    i.fa-regular.fa-heart {
        transition: 1.5s;
        opacity: 1;
        cursor: pointer;
    }

    .footer {
        background: #353535;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        color: white;
        font-family: "Shrikhand", "cursive";
        font-size: 18px;
        padding: 22px 0px 16px 25px;
    }

    .footer-list {
        list-style: none;
        padding-left: 25px;
        margin: 0;
        gap: 7px;
        display: flex;
        flex-direction: column;
    }

    .footer-link {
        text-decoration: none;
        color: white;
        font-weight: 500;
        line-height: 19px;
    }


    /* Style menu restaurant */

.header__previous {
    color: black;
    position: absolute;
    left: 20px;
    top: 10px;
}

.header-logo {
    font-family: 'Shrikhand'
}

img.restaurant-img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 275px;
}


.menu-container-restaurant {
    background-color: #f7f7f7;
    border-radius: 40px 40px 0 0;
    padding: 30px 0 40px 0;
    position: relative;
    z-index: 1;
    margin-top: -35px;
}

.menu-header-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-title {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
}


button.menu-btn {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;
}

.menu-btn:hover::before {
    opacity: 1;
}

.menu-btn::before{
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}


.submenus {
    display: flex;
    flex-direction: column;
    padding: 13px;
}

.submenu {
    max-width: 100%;
}

.submenu-title {
    font-weight: 300;
    font-size: 16px;
    margin-left: 13px;
    width: 80px;
    padding-bottom: 5px;
    position: relative;
}

.submenu-title::after {
    content: "";
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #99e2d0
}

.menuItem {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 69px;
    padding: 12px 15px;
    margin: 15px 0;
    margin-bottom: 24px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: scale(0);
    max-width: 100%;
    animation: itemAppear 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}


.choice1 {
    animation-delay: 0.3s;
}

.choice2 {
    animation-delay: 0.6s;
}

.choice3 {
    animation-delay: 0.9s;
}

.choice4 {
    animation-delay: 1.12s;
}

.choice5 {
    animation-delay: 1.42s;
}

.choice6 {
    animation-delay: 1.72s;
}

.choice7 {
    animation-delay: 2.02s;
}

.choice8 {
    animation-delay: 2.32s;
}

.choice9 { 
    animation-delay: 2.62s;
}

.choice10 {
    animation-delay: 2.92s;
}


.menuItem:hover .menuItem-validation {
    margin-right: -20px;
    width: 59px;
    height: 100px;
}

.menuItem-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menuItem-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.menuItem-description {
    overflow: hidden;
    text-overflow: ellipsis;
}
.menuItem-wrapIcon {
    height: 25px;
    width: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }

.menuItem:hover .menuItem-wrapIcon {
    transform: rotate(0);
}

.menuItem__icon {
    color: #99E2D0;
}

.menuItem-description {
    font-weight: 300;
    font-size: 15.0431px;
    padding-top: 5px;
    margin: 0;
}

.menuItem-price {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    padding-top: 25px;
}

.menuItem-validation {
    background-color: #99E2D0;
    margin: -16px -80px -16px 16px;
    width: 64px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}


.wrapBtn {
    display: flex;
    justify-content: center;
}


/* Media Queries- FORMAT DESKTOP */

@media (min-width :1024px) {

    .function {
        padding: 50px 180px;
    }

        .function-steps {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .function-step {
            width: 100%;
        }


 .menu-header-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 32px 17px 0 17px;
}

img.restaurant-img {
    width: 100%;
    object-fit: cover;
    max-height: 515px;
}


.restaurants {
    padding: 30px 180px;
}

.menu-container-restaurant {
    width: 70%;
    left: 15%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}


.footer .container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 30px 25px;
}

    .footer-list {
        flex-direction: row;
        align-items: center;
    }

    .footer-logo {
        display: flex;
    }

}
